<nav class="col-xs-2" style="border: solid red">
    <ul class="nav flex-column"> <!-- nav-pills -->
      <li class="nav-item"><a routerLink="">Home</a></li>
        <li class="nav-item"><a routerLink="register">Register</a></li>
        <li class="nav-item"><a routerLink="login">Login</a></li>
        <li class="nav-item"><a routerLink="user">List Users</a></li>
        <li class="nav-item"><a routerLink="role">List Roles</a></li>
        <li class="nav-item"><a routerLink="permission">List Permissions</a></li>
    </ul>
</nav>